<h1>Divorce karo</h1>
<p>our website provide any type divorce we ensure your succesful divorce</p>
<ol>
    <h3>Our Specialities</h3>
    <li>Dowry</li>
    <li>Mental Harassment</li>
    <li>Talkative Wife</li>
    <li>Domestic violence for both men and women</li><span>Inspired from johhny depp case</span>
</ol>
<br />
<h2>Lawyers Team</h2>
<ul>
    <li>Adv.Utkarsh Rane</li>
    <li>Adv.Kunal Bhangale(for alimony specially)</li>
</ul>
<div>
    <h3>terms and condition</h3>
    <br />
    <ul>
        <li>70% advance on every court Date</li>
    </ul>
</div>