@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Web</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   <a asp-area="" asp-controller="Home" asp-action="Login"><button type="button">Login</button></a>
    <a asp-area="" asp-controller="Home" asp-action="Register"><button type="button">Register</button></a>
</div>
